In [25]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\liana\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [26]:
sid = SentimentIntensityAnalyzer()

In [27]:
a = 'This was a good movie.'
output = sid.polarity_scores(a)
print(output)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [28]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('./character_tweets_english.csv')
df.head()

,Unnamed: 0,tweet_id,author_id,date,text,lang,name_searched
0,0,461259797468573697,2432293886,2014-04-29T21:44:40.000Z,"Beyond the army blanket, the Finn waited at th...",en,Finn
1,1,461252098953576448,14482363,2014-04-29T21:14:04.000Z,"♫ Just Announced: Austin, TX - Jul 18 at Black...",en,Finn
2,2,461233685052653568,127956375,2014-04-29T20:00:54.000Z,Finn's Reversible Bandana With Plastic Bag Poc...,en,Finn
3,5,461146329264046081,604765876,2014-04-29T14:13:47.000Z,"Finn 2, a long haired black cheese boy, and Br...",en,Finn
4,6,461141522730459138,12373992,2014-04-29T13:54:41.000Z,@Finn_Mackay @fusillisara being a woman may no...,en,Finn

In [30]:
df['scores'] = df['text'].apply(lambda review: sid.polarity_scores(review))
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >0 else ('neg' if c < 0 else 'neu'))

df.head()

,Unnamed: 0,tweet_id,author_id,date,text,lang,name_searched,scores,compound,comp_score
0,0,461259797468573697,2432293886,2014-04-29T21:44:40.000Z,"Beyond the army blanket, the Finn waited at th...",en,Finn,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
1,1,461252098953576448,14482363,2014-04-29T21:14:04.000Z,"♫ Just Announced: Austin, TX - Jul 18 at Black...",en,Finn,"{'neg': 0.0, 'neu': 0.756, 'pos': 0.244, 'comp...",0.4995,pos
2,2,461233685052653568,127956375,2014-04-29T20:00:54.000Z,Finn's Reversible Bandana With Plastic Bag Poc...,en,Finn,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,neu
3,5,461146329264046081,604765876,2014-04-29T14:13:47.000Z,"Finn 2, a long haired black cheese boy, and Br...",en,Finn,"{'neg': 0.0, 'neu': 0.889, 'pos': 0.111, 'comp...",0.3612,pos
4,6,461141522730459138,12373992,2014-04-29T13:54:41.000Z,@Finn_Mackay @fusillisara being a woman may no...,en,Finn,"{'neg': 0.0, 'neu': 0.793, 'pos': 0.207, 'comp...",0.5719,pos

In [31]:
df['comp_score'].value_counts()

pos    2915
neg    2907
neu    2340
Name: comp_score, dtype: int64